<% if @products.nil? %>

  <div class="alert alert-error">
    <h4 class="alert-heading">Sorry!</h4>
    Searching is temporarily offline.
  </div>

<% else %>

  <%= render :partial => "listings", :locals => { :products => @products } %>

<% end %>
