development:
    adapter: postgresql
    host: localhost
    port: 5432
    username: 
    password: 
    database: 
    schema_search_path: public
    encoding: utf8
    template: template0
    min_messages: warning # Silence PostgreSQL's NOTICE messages for indexes

test:
    adapter: postgresql
    host: localhost
    port: 5432
    username: 
    password: 
    database: 
    schema_search_path: public
    encoding: utf8
    template: template0
    min_messages: warning # Silence PostgreSQL's NOTICE messages for indexes

production:
    adapter: postgresql
    host: localhost
    port: 5432
    username: 
    password: 
    database: 
    schema_search_path: public
    encoding: utf8
    template: template0
