body {
  padding-top: 60px;
}

/********* HEADER **********/



/********* FOOTER **********/

#footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

/********* BOOTSTRAP FIXES **********/

/* Fixes issue with multi-line span having a height of only 18px. */
.uneditable-input {
  height: auto;
}

/********* GENERAL **********/

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.with_delete {
  margin-bottom: 10px;
}

/********* CHECKBOXES **********/

.input input[type="checkbox"] {
  vertical-align: bottom;
}

.input label {
  padding-top: 0;
  float: none;
}

/********* PRODUCT MAIN **********/

#item-image {
  display: block;
  float: left;
  width: 550px;
  border: 1px solid #EEE;
  margin-bottom: 20px;
}

#item-image a, #item-image img {
  margin: 0 auto;
}

#item-image img {
  display: block;
  width: auto;
  height: auto;
}

#item-thumbs {
  display: block;
  float: left;
  width: 70px;
  margin-left: 5px;
}

#item-thumbs .thumb {
  margin-bottom: 3px;
}

.thumb {
  width: 70px;
  height: 70px;
  border: 1px solid #EEE;
}

.thumb a, .thumb img {
  margin: 0 auto;
}

.thumb img {
  display: block;
  width: auto;
  height: auto;
}

#item-summary {
  margin-bottom: 20px;
}

/********* PRODUCT SIDEBAR **********/

.price-container {
  /*margin-bottom: 20px;*/
}

.item-price {
  font-size: 24px;
  margin-bottom: 10px;
}

.amount {}

.old-amount {
  text-decoration: line-through;
  color: #BFBFBF;
  font-size: 18px;
}

.currency {}

.sidebar {
  margin: 20px 0;
}

.sidebar-inner {
  background-color: #EEE;
  margin-bottom: 10px;
  padding: 10px;
}

.other-items {
  background-color: #FFF;
  padding: 8px;
}

.other-items:after {
  clear: both;
  display: table;
  content: "";
}

.other-items .thumb {
  display: block;
  float: left;
  margin-right: 8px;
  width: 70px;
  height: 70px;
}

.other-items .thumb {
  padding: 2px;
}

.other-items .thumb:last-child {
  margin-right: 0;
}

.share-buttons {
  text-align: center;
  margin-bottom: 10px;
}

/********* CATEGORIES **********/

td.indent {
  display: block;
}

/********* LISTINGS **********/

ul.listings {
  list-style: none;
  margin: 0;
}

ul.listings li {
  width: 170px;
  background-color: #FEFEFE;
  border: 1px solid #EEE;
  float: left;
  display: inline;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.listing-detail {
  font-size: 12px;
  line-height: 15px;
}

.listing-title {
  white-space: nowrap;
	width: 170px;
  overflow: hidden;
	text-overflow: ellipsis;
}

.listing-merchant {
  white-space: nowrap;
	width: 100px;
  overflow: hidden;
	text-overflow: ellipsis;
  float: left;
}

.listing-merchant a {
  color: #BFBFBF;
}

.listing-price {
	width: 70px;
  float: right;
  text-align: right;
}

.listing-image {
  width: 170px;
  height: 135px;
}

.listing-image a, .listing-image img {
  margin: 0 auto;
}

.listing-image img {
  display: block;
  width: auto;
  height: auto;
}
