/********* HEADER **********/



/********* FOOTER **********/

#footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

/********* BOOTSTRAP FIXES **********/

/* Fixes issue with multi-line span having a height of only 18px. */
.uneditable-input {
  height: auto;
}

/********* GENERAL **********/

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.with-delete select {
  display: inline-block;
}

/********* PRODUCT MAIN **********/

#item-image {
  display: block;
  float: left;
  width: 500px;
  border: 1px solid #EEE;
  margin-bottom: 20px;
}

#item-image a, #item-image img {
  margin: 0 auto;
}

#item-image img {
  display: block;
  width: auto;
  height: auto;
}

#item-thumbs {
  display: block;
  float: left;
  width: 80px;
  margin-left: 5px;
}

#item-thumbs .thumb {
  margin-bottom: 5px;
}

.thumb {
  width: 80px;
  height: 80px;
  border: 1px solid #EEE;
}

.thumb a, .thumb img {
  margin: 0 auto;
}

.thumb img {
  display: block;
  width: auto;
  height: auto;
}

#item-summary {
  width: 500px;
  margin-bottom: 20px;
}

/********* PRODUCT SIDEBAR **********/

.item-price {
  font-size: 24px;
  margin-bottom: 10px;
}

.old-amount {
  text-decoration: line-through;
  color: #BFBFBF;
  font-size: 18px;
}

.sidebar {
  margin: 20px 0;
}

.sidebar h4 {
  margin-bottom: 4px;
}

.sidebar-inner {
  background-color: #EEE;
  margin-bottom: 10px;
  padding: 10px;
}

.other-items {
  background-color: #FFF;
  padding: 5px;
}

.other-items:after {
  clear: both;
  display: table;
  content: "";
}

.other-items .thumb {
  display: block;
  float: left;
  margin-right: 6px;
  width: 80px;
  height: 80px;
}

.other-items .thumb {
  padding: 2px;
}

.other-items .thumb:last-child {
  margin-right: 0;
}

.share-buttons {
  text-align: center;
  margin-bottom: 10px;
}

/********* CATEGORIES **********/

td.indent {
  display: block;
}

/********* LISTINGS **********/

.listing-detail {
  font-size: 12px;
  line-height: 15px;
}

.listing-detail:after {
  clear: both;
  display: table;
  content: "";
}

.listing-title {
  white-space: nowrap;
	width: 210px;
  overflow: hidden;
	text-overflow: ellipsis;
}

.listing-merchant {
  white-space: nowrap;
	width: 140px;
  overflow: hidden;
	text-overflow: ellipsis;
  float: left;
}

.listing-merchant a {
  color: #808080;
}

.listing-price {
	width: 70px;
  float: right;
  text-align: right;
  color: #7C4;
}

.listing-currency {
  font-size: 9px;
}

.listing-image {
  width: 210px;
  height: 150px;
  margin-bottom: 5px;
}

.listing-image a, .listing-image img {
  margin: 0 auto;
}

.listing-image img {
  display: block;
  width: auto;
  height: auto;
}

/********* FACETS **********/

.facets {
  padding: 5px;
}

.facet {
  margin-bottom: 20px;
}

.facet h4 {
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.facet ul {
  list-style: none;
  margin: 0;
}

.facet li {
  font-size: 11px;
  color: #404040;
}

.facet li.selected {
  background-color: lightgray;
}

.facet ul ul li {
  margin-left: 14px;
}

/********* FILTERS **********/

.filters {
  padding: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.filters h4 {
  margin-bottom: 5px;
}

.filter {
  margin-left: 20px;
}

.filter .term {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
  max-width: 580px;
  line-height: 15px;
  display: inline-block;
}

.filter .remove {
  margin-left: 10px;
}
