body {
  padding-top: 60px;
}

/********* HEADER **********/



/********* FOOTER **********/

#footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}


/********* GENERAL **********/

#item-image {
  display: block;
  float: left;
  width: 552px;
  border: 1px solid #EEE;
  margin-bottom: 20px;
}

#item-image a, #item-image img {
  margin: 0 auto;
}

#item-image img {
  display: block;
  width: auto;
  height: auto;
}

#item-thumbs {
  display: block;
  float: left;
  width: 72px;
  margin-left: 5px;
}

#item-thumbs img {
  border: 1px solid #EEE;
}

.item-price {
  margin-bottom: 20px;
}

.item-amount {
  font-size: 24px;
  margin-bottom: 10px;
}

.sidebar-inner {
  background-color: #EEE;
  margin-bottom: 10px;
  padding: 10px;
}
