<% related_product_limit = 3 %>

<div class="sidebar-inner">
  <h4><%= (headline % link_to(has_products.name, has_products)).html_safe %></h4>
  <div class="other-items">
    <% rp = related_products(has_products, related_product_limit, exclude) %>
    <% if rp.empty? %>
      <div>No related products available.</div>
    <% else %>
      <% rp.each do |product| %>
        <div class="thumb">
        <%= link_to image_tag(product.primary_image.data.url(:thumb), 
          :alt => product.name, :title => product.name), product %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
