<div class="page-header">
  <h1><%= @title %></h1>
</div>

<% if @product %>
  <%= form_for @product do |f| %>
    <%= render :partial => "form", :object => f %>
  <% end %>
<% else %>
  <p>No products to add right now.</p>
<% end %>
